<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Hier ist meine Wunschliste!
      Kauf das!
      <%= wunsches_controller.index %> <!--Hier muss die Wunschliste stehen-->

      Gruß <%= current_user.name%>
    </p>
  </body>
</html>
