<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @recipient.name %></h1>
    <p>
      Hier ist meine Wunschliste!
      Kauf das!
      <br>
      <% @sender.wunsches.each do |wunsch| %>
        <%= wunsch.name %> <%= wunsch.preis %><br>
      <% end %>
      Gruß <%= @sender.name %>
    </p>
  </body>
</html>
