<%= form_for(:send_whishlist, url: send_email_wunsches_path) do |f| %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "from-control" %>
  </div>
  <div class="actions">
    <%= f.submit value:"send wishlist", class: "btn btn-primary" %>
  </div>
<% end %>
